{% extends '::base.html.twig' %}

{% block content %}
	<h1>Welcome to Projectify {{  app.user.email }}!</h1>
	<p>Before you can get started, you of course need a project to manage!</p>
	<p>
		<a href="{{ path('project_form') }}">
			<button>Add a new project <img src="{{ asset('img/arrow_icon.png') }}" alt="arrow"/></button>
		</a>
	</p>
		
{% endblock %}