{% extends '::base.html.twig' %}

{% block content %}
	{% for project in projects %}
		<div>
			<strong>
				<a href="{{ path('project_detail', {'id': project.id}) }}">
        			{{ project.name }}
    			</a>
    		</strong>
			<div>
				{{ project.description }}
			</div>
		<div>
	{% endfor %}
		
{% endblock %}