{% extends '::base.html.twig' %}

{% block nav %}
	<nav id="mainMenu">
		&nbsp;
	</nav>
{% endblock %}

{% block content %}
	<div id="projectlistcontainer">
		<ul class="projectlist">
		{% for project in projects %}
			<li class="project">
				<a href="{{ path('project_detail', {'id': project.id}) }}">
				<h2>
						{{ project.name }}
				</h2>
				<p>
					{{ project.description }}
				</p>
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
{% endblock %}