{% extends '::base.html.twig' %}

{% block content %}
	{% for project in projects %}
		<div>
			<strong>{{ project.name }}</strong>
			<div>
				{{ project.description }}
			</div>
		<div>
	{% endfor %}
		
{% endblock %}