{% extends 'PRO4LoginBundle::base.html.twig' %}

{% block content %}
	<header>{% block header %} {% endblock %}</header>
	<form method="post">
		{% block form %} {% endblock %}
	</form>
		
{% endblock %}