{% extends 'PRO4LoginBundle:Login:index.html.twig' %}

{% set action = path('login_check') %}

{% block header %}
	<a href="{{ path('register') }}">Register</a>
{% endblock %}

{% block form %}
	<fieldset>
		<legend>Login</legend>
		{% if error  %}
		<ul class="error">
			<li>{{ error }}</li>
		</ul>
		{% endif %}
		
		<ul>
			<li>
				<label for="email">E-Mail:</label>
				<input type="text" id="email" name="email" value="{{ last_email }}" />
			</li>
			<li>
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" />
			</li>
			<li>
				<button type="submit" name="login"> Login </button>
			</li>
		</ul>
	</fieldset>
{% endblock %}