{% extends 'PRO4LoginBundle:Login:index.html.twig' %}

{% set action = path('login_check') %}

{% block header %}
	<a href="{{ path('register') }}">Register</a>
{% endblock %}

{% block form %}
		{% if error  %}
		<ul class="error">
			<li>{{ error }}</li>
		</ul>
		{% endif %}
		
		<div class='radioWrap'>
			<div id='registerWrap' class='selectedMode'>
				<label for='radioRegister'>Register</label>
				<input type='radio' name='checkAction' id='radioRegister' value='register' checked/>
			</div>
			<div id='loginWrap'>
				<label for='radioLogin'>Login</label>
				<input type='radio' name='checkAction' id='radioLogin' value='login' />
			</div>
		</div>

	
		<div class='inputsWrap'>
				<label for="email">E-Mail:</label>
				<input type="text" id="email" name="email" value="{{ last_email }}" />
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" />
		</div>
{% endblock %}