{% extends 'PRO4ProjectBundle:Department:overview.html.twig' %}

{% block form %}
	<form method="post">
	<fieldset>
		<legend>Save department</legend>
		<ul>
			<li>{{ form_row(form.name) }}</li>
			<li>{{ form_row(form.color) }}</li>
		</ul>
		{{ form_widget(form) }}
	
		<button type="submit">Save Department</button>
	</fieldset>
</form>

{% endblock %}
