{% extends '::base.html.twig' %}

{% block content %}
	<h1>Change Password</h1>

	<form method="post">
		<fieldset>
			<legend>Change your Password</legend>
			<ul>
				<li>{{ form_row(form.oldPassword) }}</li>
				<li>
					{{ form_row(form.password) }}
				</li>
			</ul>
			{{ form_widget(form) }}
		
			<button type="submit">Change Password</button>
		</fieldset>
	</form>
		
{% endblock %}