{% extends '::base.html.twig' %}

{% block content %}
	<h1>Users in Project</h1>
	<div id="users">
	
	{% if isAdmin is not defined or isAdmin %}
			{% block form %}{% endblock %}
	{% endif %}
	
	<h3>Users</h3>

	{% for user in users %}
		<div>
        	{{ user.eMail }} 
        	{% if isAdmin %}
	        	{% if user.userId != app.user.userId %}
	        		<a href="{{ path("remove_user_from_project", {"projectId" : project.projectId, "userId" : user.userId}) }}">remove</a>
				{% endif %}
			{% endif %}
		<div>
	{% endfor %}
	</div>
		
{% endblock %}