{% extends '::base.html.twig' %}

{% block content %}
	<h1>Milestone Plan</h1>
	<p>
		The following data is necessary for adding your project's milestones
	</p>
	<form method="post">
		<fieldset>
			<legend>Project Dates</legend>
			<ul>
				<li>{{ form_row(form.start_date) }}</li>
				<li>{{ form_row(form.end_date) }}</li>
			</ul>
		</fieldset>
		{{ form_widget(form) }}
		<button type="submit">Save Project</button> <button type="reset">Clear fields</button>
	</form>
		
{% endblock %}